using NUnit.Framework;

namespace {{NAME_SPACE}}
{
    [TestFixture]
    public class {{CLASS_NAME}}Tests
    {
        [Test]
        public void {{METHOD_NAME}}Test()
        {
            {{ASSERTION_CODE}}
        }
    }
}